@model UrlTable
@{
    ViewData["Title"] = "Add a new Url";
}
<form method="post" action="@Url.Action("AddUrl", "TableURL")">
    <div>
        <label for="OriginalUrl">Original URL:</label>
        <input type="text" id="OriginalUrl" name="OriginalUrl" required />
    </div>
    
  
    <div>
        <input type="submit" value="Add URL" />
    </div>
</form>