@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>

<form method="post">
    <input type="text" name="txtUserName" />
    <input type="password" name="txtPassword" />
    <button type="submit">Увійти</button>
</form>